body {
    font-size: 14px;
  }
#pageguestlistresep {
    width: 100%;
    height: 900px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    box-shadow: 20px 65px 60px rgba(0, 0, 0, 0.20000000298023224);
    overflow: hidden;
  }
  .boxresep{
    width: 236px;
    height: 853px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 24px;
    left: 24px;
    overflow: hidden;
    background: rgba(12,11,11,1);
    opacity: 1;
    position: relative;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
  }

  .textholmes{
    width: 183px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 32px;
    left: 21px;
    font-family: Baloo Bhai;
    font-weight: Regular;
    font-size: 48px;
    opacity: 1;
    text-align: left;
  }
  .boxmainmenu{
    width: 119px;
    height: 26px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 747px;
    left: 37px;
    overflow: hidden;
  }
  .textmenu{
    width: 77px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 3px;
    left: 42px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .imagemainmenu{
    width: 26px;
    height: 26px;
    background: url("image/menu.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .boxlogout {
    width: 90px;
    height: 26px;
    background: url("../images/v102_375.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 785px;
    left: 40px;
    overflow: hidden;
  }
  .textlogout{
    width: 48px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 3px;
    left: 42px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .imagelogout{
    width: 25px;
    height: 26px;
    background: url("image/logout.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }

  .boxinput{
    width: 125px;
    height: 26px;
    background: url("../images/v102_365.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 180px;
    left: 40px;
    overflow: hidden;
  }
  .textinput{
    width: 83px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 3px;
    left: 42px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .imageinput{
    width: 26px;
    height: 26px;
    background: url("image/inputguest.png");
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .boxguest {
    width: 107px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 229px;
    left: 41px;
    overflow: hidden;
  }
  .textguest{
    width: 67px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 4px;
    left: 41px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .imageguest {
    width: 25px;
    height: 25px;
    background: url("image/guest.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .imageinvoice{
    width: 26px;
    height: 26px;
    background: url("image/invoice\ 1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .header2{
    width: 213px;
    color: rgba(146,146,146,1);
    position: absolute;
    top: 95px;
    left: 23px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .guestlist{
    width: 77%;
    height: 797px;
    margin-right: 30px;
    background: rgba(245,245,247,1);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 60px;
    left: 310px;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .textguestlist{
    width: 250px;
    color: rgba(12,11,11,1);
    position: absolute;
    top: 41px;
    left: 32px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }

  .search input{
    width: 300px;
    height: 30px;
    background: rgba(245,245,247,1);
    opacity: 1;
    position: absolute;
    top: 125px;
    right: 22px;
    border: 2px solid rgba(0,0,0,1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .buton input{
    width: 20px;
    height: 22px;
    opacity: 1;
    position: absolute;
    top: 132px;
    right: 39px;
  }
  .textshow{
    width: 64px;
    color: rgba(0,0,0,1);
    position: relative;
    top: 130px;
    left: 74px;
    font-family: Poppins;
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .textentries{
    width: 64px;
    color: rgba(0,0,0,1);
    position: relative;
    top: 56px;
    left: 194px;
    font-family: Poppins;
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .droplist { 
	line-height:50px; 
	position:relative;
	width:64px;
  top: 95px;
  left: 133px;
 }
 .droplist select { 
  background-color: rgb(57, 56, 56) ;
  height:36px;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
 }

  .tabel {
    width: 96%;
    height: 7%;
    background: rgb(221, 221, 228);
    opacity: 1;
    position: absolute;
    top: 181px;
    left: 22px;
    border-collapse: collapse;
    box-shadow: inset 0px 1px 0px #B9B9B9;
  }

  .table, th {
    border: 1px solid #999;
    padding: 8px;
  }

  .table, td {
    border: 1px solid #999;
    background: rgb(255, 255, 255);
  }

  .hapus{
    width: 44px;
    height: 20px;
    position: relative;
    top: 0px;
    left: 10px;
    margin: 3px 3px;
    background-color: red;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: Poppins;
    font-weight: Bold;
    color: white;
    padding: 8px 10px;
    text-decoration: none;
  }
  

  .edit{
    width: 31px;
    height: 20px;
    position: relative;
    top: 0px;
    left: 6px;
    margin: 3px 3px;
    background-color: rgb(4, 46, 124);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: Poppins;
    font-weight: Bold;
    color: white;
    padding: 8px 10px;
    text-decoration: none;
  }

  .invoice img{
    width: 26px;
    height: 26px;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 10px;
    overflow: hidden;
  }